.matchList {
  background-color: bisque;
  /* padding: 1.2rem; */
}

.matchDetails {
  width: 75%;
  margin: 0 auto;
  padding: 0.8rem 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: #111;
}